@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./font.scss";
@import "./variable.scss";
@import "./paginate.scss";
@import "./menu.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: $primary;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $is_active;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: $is_active;
}

[x-cloak] {
    display: none !important;
}
