@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Dangrek&family=Hanuman:wght@700;900&family=Kantumruy+Pro:ital,wght@0,300;0,400;0,500;1,400;1,500;1,600;1,700&family=Koulen&family=Moul&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&family=Suwannaphum:wght@400;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

// @mixin font {
//     font-family: "Poppins", sans-serif, "Hanuman", serif;
// }

@mixin font-label {
    font-family: "Poppins", sans-serif, "Noto Serif Khmer", serif;
}

@mixin font-moul {
    font-family: "Moul", cursive;
}

@mixin font-katumruy {
    font-family: "kantumruy Pro", serif;
}
