.container-footer {
    width: 100%;
    border-top: 1px solid $warning-color;
    .container {
        max-width: 1200px;
        .footer {
            width: 100%;

            .footer-top {
                margin-top: 30px;
                width: 100%;
                height: auto;
                height: 50px;
                display: flex;
                // background-color: inherit;
                .logo {
                    width: 18%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .footer-menu {
                    width: 82%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    ul {
                        display: grid;
                        grid-auto-flow: column;

                        li {
                            list-style: none;
                            a {
                                border-left: 1px solid #dadada;
                                font-size: 0.9rem;
                                color: $root;
                                padding: 0px 15px;
                                text-decoration: none;
                                transition: 0.1s ease-in-out;
                                &:hover {
                                    color: $warning-color;
                                }
                            }
                        }
                    }
                }
            }

            .footer-mit {
                width: 100%;
                height: auto;
                margin-top: 40px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .help-content {
                    width: 100%;
                    height: 100%;
                    h2 {
                        @include font-label;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    .item {
                        margin-top: 10px;
                        display: grid;
                        gap: 5px;
                        li {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: $root;

                            i {
                                font-size: 7px;
                                transition: 0.3s ease-in-out;
                            }
                            a {
                                color: $root;
                                font-size: 0.95rem;
                                font-weight: 400;
                                text-decoration: none;
                                transition: 0.3s ease-in-out;
                                &:hover {
                                    color: $warning-color;
                                }
                            }
                            &:hover i {
                                color: $warning-color;
                            }
                        }
                    }
                }
                .further-content {
                    width: 100%;
                    height: 100%;
                    h2 {
                        @include font-label;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    .item {
                        margin-top: 10px;
                        display: grid;
                        gap: 5px;
                        li {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: $root;

                            i {
                                font-size: 7px;
                                transition: 0.3s ease-in-out;
                            }
                            a {
                                color: $root;
                                font-size: 0.95rem;
                                font-weight: 400;
                                text-decoration: none;
                                transition: 0.3s ease-in-out;
                                &:hover {
                                    color: $warning-color;
                                }
                            }
                            &:hover i {
                                color: $warning-color;
                            }
                        }
                    }
                }
                .contact-content {
                    width: 100%;
                    height: 100%;
                    h2 {
                        @include font-label;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    .item {
                        margin-top: 10px;
                        display: grid;
                        gap: 10px;
                        li {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: $warning-color;
                            a {
                                color: $root;
                                font-size: 0.95rem;
                                font-weight: 400;
                                text-decoration: none;
                                transition: 0.3s ease-in-out;
                                &:hover {
                                    color: $warning-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
